# This MUST be set to production when you deploy
APP_ENVIRONMENT=development

# This MUST be a random string, cryptographically secure
APP_SECRET_KEY=change-me

# Must be the (sub)domain which will serve Webubbub
APP_HOST=localhost

# Can be deleted/commented in production, it’ll default to 443. Remember that
# production MUST be served over HTTPS.
APP_PORT=8000

# You can uncomment and change the path to a different database path.
# Default is {$app_path}/data/db.sqlite
# DB_PATH=

# A comma-separated list of allowed topic origins. The beginning of topics are
# compared with each allowed origin: if it matches with no origins, Webubbub
# will refuse subscriptions with an error message. Don't set for public hub.
# ALLOWED_TOPIC_ORIGINS=
